/**
 * Shared choice input styling.
 *
 * 1. Flex item but with a fixed size
 * 2. Make the input proportionally bigger than it's parent font-size
 */

@use 'sass:math';

$choice-spacing: 1em !default;
$choice-indicator-border-width: 1px !default;
$choice-indicator-border-color: color(brand) !default;
$choice-indicator-border-radius: 0 !default;

$checkbox-indicator-background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGFyaWEtaGlkZGVuPSJ0cnVlIiBjbGFzcz0ib2N0aWNvbiBvY3RpY29uLWNoZWNrIiBoZWlnaHQ9IjE2IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMiAxNiIgd2lkdGg9IjEyIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTIgNWwtOCA4LTQtNCAxLjUtMS41TDQgMTBsNi41LTYuNXoiPjwvcGF0aD48L3N2Zz4K") !default;
$checkbox-indicator-checked-background-color: color(brand) !default;

$radio-indicator-checked-background-color: color(brand) !default;


.choice-input {
  display: flex;
  align-items: center;
  cursor: pointer;

  // Nested for readability but extracted via @root for @extend usage below
  @at-root {
    %choice-input__input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }

  &__indicator {
    position: relative;
    flex: 0 0 auto; // [1]
    width: 1em;
    height: 1em;
    border: $choice-indicator-border-width $choice-indicator-border-color solid;
    border-radius: $choice-indicator-border-radius;
    font-size: 1.25em; // [2]
  }

  &__label {
    flex: 1 1 auto;
    margin-left: $choice-spacing;
  }
}


/*
 * Inline choice inputs
 */

.choice-inputs {
  display: flex;

  &:not(.choice-inputs--stacked) .choice-input:not(:last-child) {
    margin-right: 2 * $choice-spacing;
  }

  &--stacked {
    flex-direction: column;

    .choice-input:not(:last-child) {
      margin-bottom: math.div($choice-spacing, 2);
    }
  }
}


/**
 * Checkbox input.
 *
 * <label class="checkbox choice-input">
 *   <input type="checkbox">
 *   <span class="choice-input__indicator checkbox__indicator"></span>
 *   <span class="choice-input__label">Checkbox</span>
 * </label>
 */

.checkbox {

  [type='checkbox'] {
    @extend %choice-input__input;
  }

  &__indicator {

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 16px;
      transform: translateX(-50%) translateY(-50%);
      content: '';
      background-image: $checkbox-indicator-background-image;
      background-repeat: no-repeat;
      background-size: 12px 16px;
    }
  }

  :checked + &__indicator {
    background-color: $checkbox-indicator-checked-background-color;
  }
}


/**
 * Radio button input.
 *
 * <label class="radio choice-input">
 *   <input type="radio">
 *   <span class="choice-input__indicator radio__indicator"></span>
 *   <span class="choice-input__label">Checkbox</span>
 * </label>
 */

.radio {

  [type='radio'] {
    @extend %choice-input__input;
  }

  &__indicator {
    border-radius: 100%;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.75em;
      height: 0.75em;
      border-radius: 100%;
      transform: translateX(-50%) translateY(-50%);
      content: '';
      background-color: transparent;
    }
  }

  :checked + &__indicator:before {
    background-color: $radio-indicator-checked-background-color;
  }
}
