/**
 * Field group
 * Wraps individual form inputs and their labels, helper text etc
 */

$field-spacing: $global-spacing-unit !default;


.field,
%field {
  &:not(:last-child) {
    margin-bottom: $field-spacing;
  }
}


/**
 * Grouped fields
 * Wraps several form inputs. E.g. input with connected button.
 */

%field-group,
.field-group {
  @extend %field;
  display: flex;

  * + * {
    margin-left: -$input-border-width;
  }
}
