/**
 * Fieldsets.
 *
 * To encourage the use of `<fieldset>` for accessibility,
 * default styling has been removed and abstracted to
 * this `.fieldset` class.
 */

$fieldset-padding: 0.75em !default;
$fieldset-border-width: 1px !default;
$fieldset-border-color: color(grayscale, light) !default;
$legend-padding-value: 0.25em !default;


fieldset {
  padding: 0;
  border: 0;
  margin: 0 0 $global-spacing-unit;
}

.fieldset {
  padding: $fieldset-padding;
  border: $fieldset-border-width $fieldset-border-color solid;

  legend {
    padding: 0 $legend-padding-value;
    margin-left: -$legend-padding-value; // So it lines up with container content
  }
}
