/**
 * Helper text to accompany a form element.
 *
 * @example "Your password must be at least eight characters long and contain at least one number".
 */

.help-text {
  margin-top: 3px;
  font-size: 0.75em;
  font-style: italic;
  color: color(grayscale, grey);
}
