//
// Base page styling
// -----------------------------------------------------------------------------


html {
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  background-color: $body-bg;
}
