/* ==========================================================================
   Base HTML element styling
   ========================================================================== */


/**
 * Shared spacing for certain elements.
 */

/* stylelint-disable selector-list-comma-newline-after */
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-bottom: $global-spacing-unit;
}
/* stylelint-enable selector-list-comma-newline-after */


/**
 * Default link styling.
 */

a {
  // color: color(link);

  @include hocus {
    color: color(link, hocus);
  }

  &:active {
    color: color(link, active);
  }
}


/**
 * Images.
 *
 * 1. Fluid images for responsive purposes.
 * 2. Emphasise `alt` text if shown.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`.
 *    elements. Safer alternative to using `display: block;`.
 * 4. If an image has explicit dimensions set then don't make it responsive.
 */

img {
  max-width: 100%; // [1]
  font-style: italic; // [2]
  vertical-align: middle; // [3]
}

img[width],
img[height] {
  max-width: none; // [4]
}


/**
 * Consistent indentation for lists.
 *
 * 1. Set a sensible browser default override.
 */

/* stylelint-disable selector-list-comma-newline-after */
dd, ol, ul {
  margin-left: $global-spacing-unit; // [1]
}
/* stylelint-enable selector-list-comma-newline-after */


/**
 * Tables.
 *
 * 1. Ensure tables fill up as much space as possible.
 */

table {
  width: 100%; // [1]
}
