{
  "extends": ["@makers99/npm-scripts"],
  "rules": {
    "length-zero-no-unit": [
      true,
      {
        "ignore": ["custom-properties"]
      }
    ],
    "max-nesting-depth": null
  },
  "customSyntax": "postcss-scss"
}
