/**
 * Tag badge.
 * Used for lists (categories) or as indicators.
 */

$tag-height: 2em !default;
$tag-padding-x: 0.75em !default;
$tag-radius: 3px !default;
$tag-font-size: 0.75rem !default;

$tags-space: 0.5em !default;


// * @define tag; weak */
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  padding-right: $tag-padding-x;
  padding-left: $tag-padding-x;
  border-radius: $tag-radius;
  background-color: color(grayscale, off-white);
  font-size: $tag-font-size;
  line-height: 1.5;
  white-space: nowrap;
}


/**
 * Container for multiple Tag components.
 *
 * 1. Provides equal spacing for adjoining and stacked Tags.
 */

// * @define tags; weak */
.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .tag {
    margin-bottom: $tags-space; // [1]

    &:not(:last-child) {
      margin-right: $tags-space; // [1]
    }
  }
}


/**
 * Tag variants.
 */

// * @define tag; weak */
.tag--black { background-color: #000; color: #fff; }
.tag--white { background-color: #fff; }

.tag--dark { background-color: color(grayscale, dark); color: #fff; }

.tag--primary { background-color: color(brand); color: #fff; }
.tag--secondary { background-color: color(brand, secondary); color: #fff; }
.tag--tertiary { background-color: color(brand, tertiary); color: #fff; }
.tag--accent { background-color: color(brand, accent); color: #fff; }

.tag--notification { background-color: color(notifications); color: darken(color(notifications), 27.5%); }
.tag--warning { background-color: color(notifications, warning); color: darken(color(notifications, warning), 45%); }
.tag--success { background-color: color(notifications, success); color: darken(color(notifications, success), 37.5%); }
.tag--error { background-color: color(notifications, error); color: darken(color(notifications, error), 20%); }
