/**
 * Media object. The original and best.
 * Further: https://philipwalton.github.io/solved-by-flexbox/demos/media-object/
 */

$media-object-spacing: $global-spacing-unit !default;


.o-media {
  display: flex;
  align-items: flex-start;
}

.o-media__figure {
  margin-right: $media-object-spacing;
}

.o-media__body {
  flex: 1;
}


/**
 * Reverse media object (image on right)
 */

.o-media--rev {
  align-items: flex-end;

  .o-media__figure {
    margin-right: 0;
    margin-left: $media-object-spacing;
  }
}
