/**
 * Buttons.
 *
 * 1. Line different size buttons up vertically.
 * 2. Force all buttons to appear clickable.
 * 3. Force buttons to inherit font styles (particularly relevant for form inputs).
 */

$button-padding-y: 1em !default;
$button-padding-x: 4em !default;

$button-border-width: 2px !default;
$button-border-radius: 2px !default;

$button-small-text: 0.75rem !default;
$button-small-padding-y: 1em !default;
$button-small-padding-x: 1.5em !default;


// * @define button; weak */
.button {
  display: inline-block;
  padding: $button-padding-y $button-padding-x;
  border: $button-border-width transparent solid;
  border-radius: $button-border-radius;
  margin: 0;
  vertical-align: middle; // [1]
  text-align: center;
  cursor: pointer; // [2]
  background-color: color(grayscale, dark);
  font: inherit; // [3]
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  // transition: background $global-transition, color $global-transition;
  text-decoration: none;

  @include hocus {
    background-color: color(grayscale, mid);
    color: #fff;
  }

  &:active {
    background-color: #000;
    color: #fff;
  }

  // stylelint-disable plugin/selector-bem-pattern
  &[disabled] {
    background-color: color(grayscale, light);
    cursor: not-allowed;
  }
  // stylelint-enable plugin/selector-bem-pattern
}


/**
 * Small button variant.
 */

.button--small {
  padding: $button-small-padding-y $button-small-padding-x;
  font-size: $button-small-text;
}


/**
 * Full-width button variant.
 */

.button--full {
  display: block;
}


/**
 * Primary brand button variant.
 */

.button--primary {
  background-color: color(brand);

  @include hocus {
    background-color: color(brand, secondary);
  }

  &:active {
    background-color: color(brand, tertiary);
  }
}


/**
 * Hollow button variant.
 */

.button--hollow {
  border-color: color(brand);
  background-color: transparent;
  color: color(brand);

  @include hocus {
    border-color: color(brand, secondary);
    background-color: transparent;
    color: color(brand, secondary);
  }

  &:active {
    border-color: color(brand, tertiary);
    background-color: transparent;
    color: color(brand, tertiary);
  }

  &[disabled] {
    border-color: color(grayscale, light);
    color: color(grayscale, light);
    background-color: transparent;
  }
}


/**
 * Link button variant.
 */

.button--link {
  padding-right: 0;
  padding-left: 0;
  border-width: 0;
  background-color: transparent;
  color: color(brand);
  text-transform: none;

  @include hocus {
    background-color: transparent;
    color: color(brand, secondary);
  }

  &:active {
    background-color: transparent;
    color: color(brand, tertiary);
  }
}
