/* ==========================================================================
   Choice inputs. Checkbox and radio
   ========================================================================== */


// Component variables

$checkbox-spacing: 1em !default;
$radio-spacing: $checkbox-spacing !default;


/**
 * Shared choice element styling
 */

[type='checkbox'],
[type='radio'] {
  vertical-align: baseline;
}

.checkbox,
.radio {
  display: inline-block;
  cursor: pointer;
}


/**
 * Checkbox input
 *
 * Wrap `<input>` with `<label class="checkbox">`
 */

.checkbox {

  // Shift up 1px
  [type='checkbox'] {
    position: relative;
    top: -1px;
  }

  // Space consecutive checkboxes sensibly
  & + .checkbox {
    margin-left: $checkbox-spacing;
  }
}


/**
 * Radio button input
 *
 * Wrap `<input>` with `<label class="radio">`
 */

.radio {

  // Shift up 1px
  [type='radio'] {
    position: relative;
    top: -1px;
  }

  // Space consecutive radio buttons sensibly
  & + .radio {
    margin-left: $radio-spacing;
  }
}
