//
// Fieldset
// -----------------------------------------------------------------------------


$fieldset-padding: 0.75em !default;
$legend-padding-value: 0.25em !default;


// To encourage the use of <fieldset> for accessibility,
// default styling has been removed and abstracted to
// this .fieldset class
// -----------------------------------------------------------------------------

fieldset {
  margin: 0 0 $global-spacing-unit;
  padding: 0;
  border: 0;
}

.fieldset {
  padding: $fieldset-padding;
  border: 1px color(grayscale, light) solid;

  legend {
    margin-left: -$legend-padding-value; // so it lines up with container content
    padding: 0 $legend-padding-value;
  }
}
