//
// Help text
// -----------------------------------------------------------------------------


.help-text {
  margin-top: 3px;
  color: color(grayscale, grey);
  font-size: 0.75em;
  font-style: italic;
}
