//
// Global settings
// -----------------------------------------------------------------------------


// Colours

$global-colors: () !default;
$global-colors: map-merge((
  brand: (
    base: #1796e1,
    secondary: #1bb2fe,
    tertiary: #0377c0,
    accent: #fada00
  ),
  grayscale: (
    base: #000,
    dark: #3c3c3c,
    mid: #676c71,
    light: #b1b9c3,
    off-white: #ededed
  ),
  type: (
    base: #444
  ),
  link: (
    base: #1796e1,
    hocus: #1bb2fe,
    active: #0377c0,
    visited: #5d0591
  ),
  notifications: (
    base: #a7e0e9,
    warning: #fff9cb,
    success: #8df0bb,
    error: #fec9c8
  )
), $global-colors);


/// Grabs colors from the map using `color(brand, secondary)` or `color(brand)`.
///
/// @param {string} $palette
/// @param {string} $tone ['base']
/// @param {string} $default [$global-colors]
///
/// @return {string}
/// ----------------------------------------------------------------------------

@function color($palette, $tone: 'base', $default: $global-colors) {
  @return map-get(map-get($default, $palette), $tone);
}


// Document

$body-bg: #fff !default;


// Typography

$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$alt-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif !default;

$global-font-size: 16px !default;
$global-line-height: 28px !default;
$global-font-weight: 400 !default;

$global-font-size-h1: 32px !default;
$global-line-height-h1: 48px !default;
$global-font-size-h2: 24px !default;
$global-line-height-h2: 36px !default;
$global-font-size-h3: 20px !default;
$global-line-height-h3: 30px !default;
$global-font-size-h4: 18px !default;
$global-line-height-h4: 27px !default;

$global-heading-weight: 600 !default;

$hr-thickness: 1px !default;
$hr-spacing: 1.5em 0 !default;
$hr-bg: lighten(color(grayscale), 59%) !default;


// Spacing

$global-spacing-unit: round($global-line-height) !default;


// Others

$global-transition: 0.1s ease-in-out !default;
