//
// Alert messages
// -----------------------------------------------------------------------------


$alert-padding: 1em !default;
$alert-border-width: 1px !default;
$alert-margin: 0 0 $global-spacing-unit !default;

$alert-default-bg: color(notifications) !default;
$alert-default-border: transparent !default;
$alert-default-color: darken(color(notifications), 27.5%) !default;
$alert-warning-bg: color(notifications, warning) !default;
$alert-warning-border: transparent !default;
$alert-warning-color: darken(color(notifications, warning), 45%) !default;
$alert-success-bg: color(notifications, success) !default;
$alert-success-border: transparent !default;
$alert-success-color: darken(color(notifications, success), 37.5%) !default;
$alert-error-bg: color(notifications, error) !default;
$alert-error-color: darken(color(notifications, error), 20%) !default;
$alert-error-border: transparent !default;


// * @define alert; weak */
.alert {
  padding: $alert-padding;
  border: $alert-border-width $alert-default-border solid;
  margin: $alert-margin;
  background-color: $alert-default-bg;
  color: $alert-default-color;
}


// Warning alert
// -----------------------------------------------------------------------------

.alert--warning {
  border-color: $alert-warning-border;
  background-color: $alert-warning-bg;
  color: $alert-warning-color;
}


// Success alert
// -----------------------------------------------------------------------------

.alert--success {
  border-color: $alert-success-border;
  background-color: $alert-success-bg;
  color: $alert-success-color;
}


// Error alert
// -----------------------------------------------------------------------------

.alert--error {
  border-color: $alert-error-border;
  background-color: $alert-error-bg;
  color: $alert-error-color;
}
