/**
 * Base image styling.
 *
 * 1. Fluid images for responsive purposes.
 * 2. Ensure that images will be retain aspect ratio (and so be responsive)
 *    even if explicit `width` and `height` attributes are set.
 * 3. Emphasise `alt` text if shown.
 * 4. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements. Safer alternative to using `display: block;`.
 */

img {
  max-width: 100%; // [1]
  height: auto; // [2]
  font-style: italic; // [3]
  vertical-align: middle; // [4]
}
