/**
 * Base link styling.
 */

$link-color: color(link) !default;
$link-hocus-color: color(link, hocus) !default;
$link-active-color: color(link, active) !default;


a {
  color: $link-color;

  @include hocus {
    color: $link-hocus-color;
  }

  &:active {
    color: $link-active-color;
  }
}
