/**
 * Base list styling.
 *
 * 1. Set a sensible browser default override.
 */

/* stylelint-disable selector-list-comma-newline-after */
dd, ol, ul {
  margin-left: $global-spacing-unit; // [1]
}
/* stylelint-enable selector-list-comma-newline-after */


/**
 * Stacked list with default styling (such as bullets) removed.
 */

.list-unstyled {
  margin-left: 0;
  list-style: none;
}
