/* ==========================================================================
   Reset on top of normalize
   ========================================================================== */


/**
 * Remove all intrusive padding and margin browser defaults.
 */

/* stylelint-disable selector-list-comma-newline-after */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  padding: 0;
  margin: 0;
}
/* stylelint-enable selector-list-comma-newline-after */


/**
 * Remove trailing margins from nested lists.
 */

li > {

  ol,
  ul {
    margin-bottom: 0;
  }

}


/**
 * Remove default table spacing.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
