/**
 * Global typography defaults.
 *
 * 1. Improve font rendering on certain browsers.
 */

html {
  font-family: $global-font-family;
  font-size: ($global-font-size / 16px) * 1em;
  font-weight: $global-font-weight;
  line-height: $global-line-height / $global-font-size;
  color: color(type);
  -webkit-text-size-adjust: 100%; // [1]
  -ms-text-size-adjust: 100%; // [1]
  -moz-osx-font-smoothing: grayscale; // [1]
  -webkit-font-smoothing: antialiased; // [1]
}


/**
 * H1-H6 headings.
 */

/* stylelint-disable selector-list-comma-newline-after */
h1, h2, h3, h4, h5, h6 {
  font-weight: $global-heading-weight;
}
/* stylelint-enable selector-list-comma-newline-after */

h1,
%h1 {
  @include font-size($global-font-size-h1, $global-line-height-h1);
}

h2,
%h2 {
  @include font-size($global-font-size-h2, $global-line-height-h2);
}

h3,
%h3 {
  @include font-size($global-font-size-h3, $global-line-height-h3);
}

h4,
%h4 {
  @include font-size($global-font-size-h4, $global-line-height-h4);
}


/**
 * Horizontal rules.
 */

hr {
  height: $hr-thickness;
  margin: $hr-spacing;
  border: 0;
  background-color: $hr-bg;
}
